@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-poppins: "Poppins", sans-serif;
	--font-grandhotel: "Grand Hotel", cursive;
}

div::-webkit-scrollbar {
	display: none;
}

div {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
