@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-poppins: "Poppins", sans-serif;
	--font-grandhotel: "Grand Hotel", cursive;
}

div::-webkit-scrollbar {
	display: none;
}

div {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

@media print {
	body * {
		visibility: hidden;
	}

	.print-root,
	.print-root * {
		visibility: visible;
	}

	.print-root {
		position: absolute;
		top: 0;
		left: 0;
		width: 210mm;
		margin: 0;
		padding: 0;
	}
}
